.body {
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  min-height: 100%;
}

.color {
  width: 200px;
}

.palette {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}
