.input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 8px;

  border: 1px solid #ccc;
  border-radius: 0;
  outline: none;
  background: white;

  font: 16px/26px arial;

  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.input::-ms-clear
{
  display: none;
}

.input:-moz-placeholder,
.input:-ms-input-placeholder,
.input::-moz-placeholder,
.input::-webkit-input-placeholder
{
  text-indent: 0;

  color: #999;
}

.input:focus {
  border-color: orange;
}
